ref: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi%3A10.7910%2FDVN%2FZR5KW9&fbclid=IwAR3RQ_hqj0eJdflc8mvveJefadQ7hI9rE7J29NURzp8XFgogOU_pFEOXUuM
To-dos-
*  make the dataset citywise csv-confirmed, death, recovered, city population,and other 69 stuff 
*  get the JSON file
*

## Importing

In [3]:
import os
import pandas as pd

# Making dataframes

In [5]:
confirmed_df = pd.DataFrame()
confirmed_df = pd.read_csv("../input/Russia_Subdivisions_summary_covid19_confirmed.csv")
confirmed_df.head()

,hasc,Subdivisions,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,...,2020-05-16,2020-05-17,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25
0,RU.MC,Moscow,191,262,290,410,546,703,817,1014,...,135464,142824,146062,146062,149607,155219,155219,161397,163913,166473
1,RU.SP,Saint Petersburg,16,16,21,21,26,26,37,42,...,9486,10462,10887,10887,11340,12203,12203,12955,13339,13713
2,RU.MS,Moscow Oblast,0,0,0,41,41,49,85,112,...,25525,27369,28290,28290,29188,30983,30983,32653,33515,34346
3,RU.SA,Samara Oblast,0,0,0,10,12,14,14,14,...,1302,1437,1503,1503,1568,1740,1740,1900,2021,2118
4,RU.SK,Saha Republic,0,0,0,10,14,14,14,15,...,722,828,869,869,914,997,997,1177,1276,1357

In [6]:
death_df = pd.DataFrame()
death_df = pd.read_csv("../input/Russia_Subdivisions_summary_covid19_death.csv")
death_df.head()

,hasc,Subdivisions,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,...,2020-05-16,2020-05-17,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25
0,RU.MC,Moscow,0,0,0,0,2,4,5,6,...,1358,1503,1580,1580,1651,1794,1794,1934,1993,2034
1,RU.SP,Saint Petersburg,0,0,0,0,0,0,0,1,...,74,85,90,90,95,104,104,113,133,138
2,RU.MS,Moscow Oblast,0,0,0,0,0,0,0,0,...,253,268,268,268,271,299,299,324,329,340
3,RU.SA,Samara Oblast,0,0,0,0,0,0,0,0,...,9,9,10,10,11,13,13,15,16,16
4,RU.SK,Saha Republic,0,0,0,0,0,0,0,0,...,4,4,4,4,4,6,6,6,7,7

In [7]:
recovered_df = pd.DataFrame()
recovered_df = pd.read_csv("../input/Russia_Subdivisions_summary_covid19_recovered.csv")
recovered_df.head()

,hasc,Subdivisions,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,...,2020-05-16,2020-05-17,2020-05-18,2020-05-19,2020-05-20,2020-05-21,2020-05-22,2020-05-23,2020-05-24,2020-05-25
0,RU.MC,Moscow,0,0,0,0,2,4,5,6,...,1358,1503,1580,1580,1651,1794,1794,1934,1993,2034
1,RU.SP,Saint Petersburg,0,0,0,0,0,0,0,1,...,74,85,90,90,95,104,104,113,133,138
2,RU.MS,Moscow Oblast,0,0,0,0,0,0,0,0,...,253,268,268,268,271,299,299,324,329,340
3,RU.SA,Samara Oblast,0,0,0,0,0,0,0,0,...,9,9,10,10,11,13,13,15,16,16
4,RU.SK,Saha Republic,0,0,0,0,0,0,0,0,...,4,4,4,4,4,6,6,6,7,7